h1 {
  font-size: calc(24px + 18 * (100vw / 1280));          /* 42*/
  line-height: calc(26px + 18 * (100vw / 1280));        /* 46*/
}
h2 {
   font-size: calc(14px + 18 * (100vw / 1280));        /* 32*/
   line-height: calc(16px + 18 * (100vw / 1280));      /* 36*/
}
p {
  font-size: calc(10px + 10 * (100vw / 1280));        /* 20*/
  line-height: calc(12px + 10 * (100vw / 1280));        /* 32*/
}
a {
  font-size: calc(12px + 18 * (100vw / 1280));        /* 30*/
  line-height: calc(16px + 18 * (100vw / 1280));        /* 34*/
}
.footer-colom p {
  font-size: calc(12px + 4 * (100vw / 1280));        /* 16*/
  line-height: calc(14px + 4 * (100vw / 1280));        /* 20*/
}
.text {
  font-size: calc(12px + 18 * (100vw / 1280));        /* 30*/
  font-style: oblique;
}
@media (max-width: 600px) {
.menu-main {display: block;}
.top-menu {display: block;}  
h1 {
  font-size: 3vw;
  line-height: 3vw;
  }
h2 {
   font-size: 2vw;
   line-height: 2.5vw;
  }
p {
    font-size: 2vw;
    line-height: 3.5vw;
  }
.text {
  font-size: 2vw;
  line-height: 2.5vw;
  }
a {
    font-size: 2vw;
    line-height: 2.5vw;
  }
.footer-colom p {
    font-size: 1vw;
    line-height: 1.2vw;
  }
  .imdiz-modal p, .imdiz-modal1 p {
    margin: 0.5vw;
    font-size: 80%;
    line-height: 80%;
  }
}