body {
    background-color: rgba(17, 30, 153, 1);
}
* {box-sizing: border-box;}     
.site-header {
    display: flex;
    background-color: #DBE8F0;
    min-height: 20px;
    margin-bottom: 10px;
}
.site-header p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(17, 30, 153, 1);
    font-style: italic;
    align-items: flex-start;
}
.wrapper {
  width: 100%;
  margin: 5px auto;
  }
.top-menu {
    display: flex;
    margin-left: auto;
    background-color: #DBE8F0;
}
.navbar-logo {
    display: inline-block;
    margin-top: 10px;
    margin-right:20px;
    margin-left: 20px;
    }
.navbar-logo img:hover {
  transform: scale(-1, 1)
  }
.menu-main {
  list-style:none;
  display: flex;   
  align-items: center;
}
.menu-main li {
    margin-right:30px;
    text-align: center;}
.menu-main a {
  text-decoration: none;
  padding: 0px;
  letter-spacing: 2px;
  color: rgba(4, 16, 128, 1);
  transition: .3s linear;
}
.menu-main a:hover {
    background-color: rgba(45, 166, 247, 0.685);
    background-position: bottom;
    padding: 5px;
}
.menu-main a:hover:before {opacity: 1;}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color:#DBE5F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 5px 5px;
    width: auto;
    font-style: normal;
    text-align: center;
    color: #111E99;
    mix-blend-mode: normal;
    border: 1px solid #111E99;   
}
.content {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: max-content;
  }
  .content > *, left-column > * {
    flex-basis: 100%;
  }
.left-column, .right-column {
 padding: 5px;
 text-align: center;
}
.right-column {
margin-left: auto;
}
.left-column {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
.left-column h1 {
   margin-top: 0px;
   margin-bottom: 0px;
   color: white ;
    }
.left-column h2 {
    color: white ;
}
.info {
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: max-content;
}
.info > * {
  flex-basis: 100%;
}
.info-list {
   padding: 5px;
   text-align: center;
}
    .info-list p {
   background: rgba(217, 217, 217, 0.1);
   color: rgb(177, 233, 250);
   text-align: center;
}
img {vertical-align: middle;}

/* Окно слайдера */
.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
  }
.mySlides {
    display: none;
    max-width: 1400px;
  }
    /* Стрелки вперед/назад */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
/*позиция кнопки "следующий"*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Синий квадратик на стрелке след/пред при наведении */
  .prev:hover, .next:hover {
    background-color: rgb(3, 61, 249);
  }
  
  /*Подпись картинки*/
  .text {
    color: rgb(3, 61, 249);
    font: italic bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
 /* Номер (1/4) */
  .numbertext {
    color: white;
    position: absolute;
    top: 0;
  }
/* Дот - кружочки */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 2px 2px;
    background-color: floralwhite;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .dot:hover {
    background-color:rgb(48, 152, 227)
    ;
  }
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
.footer-colom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer-colom li {
    text-decoration: none;
    display: inline-block;
    padding: 0px 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.inf {
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inf1 {
	display: block;
  padding: 10px;
  position: relative;
	border: 1px solid rgba(17, 30, 153, 1);
  background: rgba(217, 217, 217, 0.1);
  color: rgb(177, 233, 250);
  text-align: center;
}